/* .content {
  padding: 32px;
  max-width: 960px;
  line-height: 1.6;
  color: #0b1f33;
}

.content h1 {
  margin-bottom: 16px;
  font-size: 32px;
}

.content p {
  margin-bottom: 16px;
  font-size: 16px;
}

.content code {
  padding: 2px 4px;
  background: #f4f6fa;
  border-radius: 4px;
  font-size: 14px;
} */
