:root {
  font-family: 'SBSansDisplay', 'SBSansText', -apple-system, BlinkMacSystemFont,
    'Segoe UI', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--triplex-next-Typography-Primary_Color-1-9-0, #1f1f22);
  background-color: var(--triplex-next-ColorNeutral-90-1-9-0, #f2f4f7);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--triplex-next-ColorNeutral-90-1-9-0, #f2f4f7);
}

#root {
  min-height: 100vh;
}
